.transition-all {
  transition: all 0.3s ease;
}

.hover-bg-light:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-control:focus {
  background-color: #fff !important;
  border-color: #74c655 !important;
  box-shadow: 0 0 0 0.25rem rgba(116, 198, 85, 0.1);
}

.rounded-circle img {
  image-rendering: -webkit-optimize-contrast; /* Giúp ảnh sắc nét hơn trên một số trình duyệt */
  backface-visibility: hidden; /* Chống rung/nháy khi có animation */
}
