.cursor-pointer {
  cursor: pointer;
}

.card-story {
  transition: transform 0.3s ease;
}

.interaction-item {
  transition: all 0.2s;
  padding: 5px 10px;
  border-radius: 10px;
}

.interaction-item:hover {
  background-color: #f8f9fa;
  color: #74c655;
}

.tracking-wider {
  letter-spacing: 1px;
}

.form-switch .form-check-input:checked {
  background-color: #74c655;
  border-color: #74c655;
}
